{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - ge_api_key: Geocode Earth API key.
 * - ge_autocomplete_value: Geocode Earth Autocomplete default value.
 * - ge_autocomplete_options: Geocode Earth Autocomplete config options.
 *
 * @see template_preprocess_geocode_earth_autocomplete()
 */
#}
<div class="ge-autocomplete-wrapper">
  <ge-autocomplete
    api_key="{{ ge_api_key }}"
    size="{{ ge_autocomplete_options.size }}"
    data-input-id="{{ attributes.id }}"
    placeholder="{{ ge_autocomplete_options.placeholder }}"
    boundary.country="{{ ge_autocomplete_options.country }}"
    boundary.gid="{{ ge_autocomplete_options.gid }}"
    layers="{{ ge_autocomplete_options.layers }}"
    lang="{{ ge_autocomplete_options.language }}"
  ></ge-autocomplete>
  <input{{ attributes }} />{{ children }}
</div>
